<div
  class="paragraph paragraph--type--embed-view paragraph--view-mode--default"
>
  <div
    class="view view-latest-news-rit-main view-id-latest_news_rit_main view-display-id-block_6 js-view-dom-id-ee53529130c31e36cf88d09f299819532bbeb85372862b4921e71e295a1d5947"
  >
    <div class="view-content">
      <div>
        <ul class="row list-style-none">
          <li class="col-sm-6 col-lg-3">
            <article
              about="/news/researchers-take-innovative-approach-revolutionizing-healthcare"
              class="card news-teaser node node--type-news node--promoted"
            >
              <p class="card-header p-0 font-weight-normal">March 24, 2025</p>
              <div class="card-body px-0">
                <a
                  href="https://www.youtube.com/watch?v=Y7t4--87AMY"
                  class="d-block card-link icon-after"
                  target="_blank"
                  rel="noopener"
                  title="(opens in a new window)"
                >
                  <div
                    class="position-relative card-img-con img-responsive img-responsive-3by2 loaded"
                  >
                    <img
                      class="card-img-top"
                      src="https://www-staging.rit.edu/sites/rit.edu/files/styles/news_thumbnail/https/cdn.rit.edu/images/news/2025-03/WEB-Linwei-Wang---9x16-HD.jpg?itok=ULH1PNCN"
                      data-default="https://cdn.rit.edu/images/news/2025-03/WEB-Linwei-Wang---9x16-HD.jpg"
                      alt="Woman in a navy blue blazer and patterned scarf stands in front of an orange background with bold white text reading 'RIT Research Minute Hybrid AI."
                      src="https://www-staging.rit.edu/sites/rit.edu/files/styles/news_thumbnail/https/cdn.rit.edu/images/news/2025-03/WEB-Linwei-Wang---9x16-HD.jpg?itok=ULH1PNCN"
                    />
                  </div>

                  <p
                    class="h5 card-title font-weight-bold mt-4 mb-0 fa-external-link icon-after icon-el"
                  > Researchers take an innovative approach to revolutionizing healthcare</p>
                </a>

                <div class="card-text mt-2">
                  <p>
                    <meta charset="UTF-8" />Led by professor Linwei Wang, RIT
                    research teams are creating detailed, virtual replicas of
                    individual patients’ hearts, enabling doctors to simulate
                    and analyze treatment options before any invasive
                    procedures.&nbsp;
                  </p>
                </div>
              </div>
            </article>
          </li>
          <li class="col-sm-6 col-lg-3">
            <article
              about="/news/yusef-ibrahim-develops-mentoring-program-peers-electrical-engineering-technology"
              class="card news-teaser node node--type-news node--promoted"
            >
              <p class="card-header p-0 font-weight-normal">March 21, 2025</p>
              <div class="card-body px-0">
                <a
                  href="https://www-staging.rit.edu/news/yusef-ibrahim-develops-mentoring-program-peers-electrical-engineering-technology"
                  class="d-block card-link"
                >
                  <div
                    class="position-relative card-img-con img-responsive img-responsive-3by2 loaded"
                  >
                    <img
                      class="card-img-top"
                      src="https://www-staging.rit.edu/sites/rit.edu/files/styles/news_thumbnail/https/cdn.rit.edu/images/news/2025-03/WEB-Yusef_Ibrahim.jpg?itok=Ju4hksjW"
                      data-default="https://cdn.rit.edu/images/news/2025-03/WEB-Yusef_Ibrahim.jpg"
                      alt="Smiling man with glasses and an afro hairstyle holds up a breadboard with electronic components in one hand and a small orange and white 3D-printed block with the letter 'I' in the other. He wears a beige sweater with 'MOCHA' and a bear design, sitting in a modern classroom or lab setting with computers and wiring in the background."
                      src="https://www-staging.rit.edu/sites/rit.edu/files/styles/news_thumbnail/https/cdn.rit.edu/images/news/2025-03/WEB-Yusef_Ibrahim.jpg?itok=Ju4hksjW"
                    />
                  </div>

                  <p
                    class="h5 card-title font-weight-bold mt-4 mb-0 fa-angle-right icon-after icon-el"
                  > Yusef Ibrahim develops mentoring program for peers in
                    electrical engineering technology</p>
                </a>

                <div class="card-text mt-2">
                  <p>
                    RIT’s Yusef Ibrahim founded Student Engineering
                    Professionals, a peer mentoring group, to help classmates
                    prepare for careers.
                  </p>
                </div>
              </div>
            </article>
          </li>
          <li class="col-sm-6 col-lg-3">
            <article
              about="/news/global-public-health-class-takes-field-trip-dominican-republic"
              class="card news-teaser node node--type-news node--promoted"
            >
              <p class="card-header p-0 font-weight-normal">March 20, 2025</p>
              <div class="card-body px-0">
                <a
                  href="https://www-staging.rit.edu/news/global-public-health-class-takes-field-trip-dominican-republic"
                  class="d-block card-link"
                >
                  <div
                    class="position-relative card-img-con img-responsive img-responsive-3by2 loaded"
                  >
                    <img
                      class="card-img-top"
                      src="https://www-staging.rit.edu/sites/rit.edu/files/styles/news_thumbnail/https/cdn.rit.edu/images/news/2025-03/WEB_CHSTDonationDominicanRepublic_5702.jpg?itok=4FVX8Lfe"
                      data-default="https://cdn.rit.edu/images/news/2025-03/WEB_CHSTDonationDominicanRepublic_5702.jpg"
                      alt=" group of students and an instructor sort and organize donation supplies in a classroom, surrounded by cardboard boxes and packing materials."
                      src="https://www-staging.rit.edu/sites/rit.edu/files/styles/news_thumbnail/https/cdn.rit.edu/images/news/2025-03/WEB_CHSTDonationDominicanRepublic_5702.jpg?itok=4FVX8Lfe"
                    />
                  </div>

                  <p
                    class="h5 card-title font-weight-bold mt-4 mb-0 fa-angle-right icon-after icon-el"
                  >Global public health class takes field trip to Dominican
                    Republic</p>
                </a>

                <div class="card-text mt-2">
                  <p>
                    RIT students enrolled in a global public health class spent
                    a weeklong field trip in the Dominican Republic examining
                    healthcare and emergency services.
                  </p>
                </div>
              </div>
            </article>
          </li>
          <li class="col-sm-6 col-lg-3">
            <article
              about="/news/kwaku-alston-named-outstanding-alumnus"
              class="card news-teaser node node--type-news node--promoted"
            >
              <p class="card-header p-0 font-weight-normal">March 20, 2025</p>
              <div class="card-body px-0">
                <a
                  href="https://www-staging.rit.edu/news/kwaku-alston-named-outstanding-alumnus"
                  class="d-block card-link"
                >
                  <div
                    class="position-relative card-img-con img-responsive img-responsive-3by2 loaded"
                  >
                    <img
                      class="card-img-top"
                      src="https://www-staging.rit.edu/sites/rit.edu/files/styles/news_thumbnail/https/cdn.rit.edu/images/news/2025-03/WEB-Alston_OutstandingAlum.jpg?itok=HOS-alTf"
                      data-default="https://cdn.rit.edu/images/news/2025-03/WEB-Alston_OutstandingAlum.jpg"
                      alt="Kwaku Alston, smiling in a black cap and glasses, is honored as the 2024-2025 Outstanding Alumnus of the Year in a graphic with bold orange text and accents."
                      src="https://www-staging.rit.edu/sites/rit.edu/files/styles/news_thumbnail/https/cdn.rit.edu/images/news/2025-03/WEB-Alston_OutstandingAlum.jpg?itok=HOS-alTf"
                    />
                  </div>

                  <p
                    class="h5 card-title font-weight-bold mt-4 mb-0 fa-angle-right icon-after icon-el"
                  >Kwaku Alston named Outstanding Alumnus</p>
                </a>

                <div class="card-text mt-2">
                  <p>
                    Kwaku Alston ’94 (photography) has been named RIT’s
                    Outstanding Alumnus for 2024-2025. Established by the Office
                    of the President in 1952, it is the highest honor RIT can
                    bestow upon a graduate.
                  </p>
                </div>
              </div>
            </article>
          </li>
          <li class="col-sm-6 col-lg-3">
            <article
              about="/news/celebrating-womens-history-month-through-interdisciplinary-research"
              class="card news-teaser node node--type-news node--promoted"
            >
              <p class="card-header p-0 font-weight-normal">March 20, 2025</p>
              <div class="card-body px-0">
                <a
                  href="https://www-staging.rit.edu/news/celebrating-womens-history-month-through-interdisciplinary-research"
                  class="d-block card-link"
                >
                  <div
                    class="position-relative card-img-con img-responsive img-responsive-3by2 loaded"
                  >
                    <img
                      class="card-img-top"
                      src="https://www-staging.rit.edu/sites/rit.edu/files/styles/news_thumbnail/https/cdn.rit.edu/images/news/2025-03/WEB-KJamison.jpg?itok=qidUEAs7"
                      data-default="https://cdn.rit.edu/images/news/2025-03/WEB-KJamison.jpg"
                      alt="Woman in a navy blazer and headwrap works on a laptop at a modern, well-lit indoor space with large windows overlooking a campus."
                      src="https://www-staging.rit.edu/sites/rit.edu/files/styles/news_thumbnail/https/cdn.rit.edu/images/news/2025-03/WEB-KJamison.jpg?itok=qidUEAs7"
                    />
                  </div>

                  <p
                    class="h5 card-title font-weight-bold mt-4 mb-0 fa-angle-right icon-after icon-el"
                  >Celebrating Women’s History Month through interdisciplinary
                    research</p>
                </a>

                <div class="card-text mt-2">
                  <p>
                    The inaugural Women, Gender, and Sexuality Studies
                    symposium, hosted on March 28, will feature original work by
                    individuals from across the RIT community.
                  </p>
                </div>
              </div>
            </article>
          </li>
          <li class="col-sm-6 col-lg-3">

            <article
              about="/news/professor-helps-bring-machine-learning-indigenous-communities"
              class="card news-teaser node node--type-news node--promoted"
            >
              <p class="card-header p-0 font-weight-normal">March 19, 2025</p>
              <div class="card-body px-0">
                <a
                  href="https://www-staging.rit.edu/news/professor-helps-bring-machine-learning-indigenous-communities"
                  class="d-block card-link"
                >
                  <div
                    class="position-relative card-img-con img-responsive img-responsive-3by2 loaded"
                  >
                    <img
                      class="card-img-top"
                      src="https://www-staging.rit.edu/sites/rit.edu/files/styles/news_thumbnail/https/cdn.rit.edu/images/news/2025-03/WEB-LacunaFundMain.jpg?itok=L1D8jlqD"
                      data-default="https://cdn.rit.edu/images/news/2025-03/WEB-LacunaFundMain.jpg"
                      alt="Wide landscape of an African savanna with two elephants drinking from a small watering hole, with mountains in the background under a soft evening sky."
                      src="https://www-staging.rit.edu/sites/rit.edu/files/styles/news_thumbnail/https/cdn.rit.edu/images/news/2025-03/WEB-LacunaFundMain.jpg?itok=L1D8jlqD"
                    />
                  </div>

                  <p
                    class="h5 card-title font-weight-bold mt-4 mb-0 fa-angle-right icon-after icon-el"
                  >Professor helps to bring machine learning to indigenous
                    communities</p>
                </a>

                <div class="card-text mt-2">
                  <p>
                    Indigenous communities in Kenya and Ecuador have access to
                    machine learning technology to help combat human-wildlife
                    conflict and climate change thanks in part to a new
                    partnership that includes RIT.
                  </p>
                </div>
              </div>
            </article>
          </li>
          <li class="col-sm-6 col-lg-3">
            <article
              about="/news/rit-ranked-top-10-university-game-designers-and-developers"
              class="card news-teaser node node--type-news node--promoted"
            >
              <p class="card-header p-0 font-weight-normal">March 19, 2025</p>
              <div class="card-body px-0">
                <a
                  href="https://www-staging.rit.edu/news/rit-ranked-top-10-university-game-designers-and-developers"
                  class="d-block card-link"
                >
                  <div
                    class="position-relative card-img-con img-responsive img-responsive-3by2 loaded"
                  >
                    <img
                      class="card-img-top"
                      src="https://www-staging.rit.edu/sites/rit.edu/files/styles/news_thumbnail/https/cdn.rit.edu/images/news/2025-03/WEB-games-2025.jpg?itok=vu--7EO-"
                      data-default="https://cdn.rit.edu/images/news/2025-03/WEB-games-2025.jpg"
                      alt="A collage of 20 indie game title screens, each with distinct typography and artwork. Titles include 'A Small Robot Story,' 'Cybersurfer,' 'Garbanzo Quest!,' 'Crazy Platez,' 'Wish Guardian,' and more, featuring various art styles from pixel art to hand-drawn and futuristic themes."
                      src="https://www-staging.rit.edu/sites/rit.edu/files/styles/news_thumbnail/https/cdn.rit.edu/images/news/2025-03/WEB-games-2025.jpg?itok=vu--7EO-"
                    />
                  </div>

                  <p
                    class="h5 card-title font-weight-bold mt-4 mb-0 fa-angle-right icon-after icon-el"
                  >RIT ranked a top-10 university for game designers and
                    developers</p>
                </a>

                <div class="card-text mt-2">
                  RIT’s game design and development program was ranked sixth at
                  the undergraduate level and 10th at the graduate level in new
                  international rankings from The Princeton Review.
                </div>
              </div>
            </article>

          </li>
          <li class="col-sm-6 col-lg-3">

            <article
              about="/news/pollution-prevention-institute-rit-accepting-community-grants-program-project-applications"
              class="card news-teaser node node--type-news node--promoted"
            >
              <p class="card-header p-0 font-weight-normal">March 18, 2025</p>
              <div class="card-body px-0">
                <a
                  href="https://www-staging.rit.edu/news/pollution-prevention-institute-rit-accepting-community-grants-program-project-applications"
                  class="d-block card-link"
                >
                  <div
                    class="position-relative card-img-con img-responsive img-responsive-3by2 loaded"
                  >
                    <img
                      class="card-img-top"
                      src="https://www-staging.rit.edu/sites/rit.edu/files/styles/news_thumbnail/https/cdn.rit.edu/images/news/2025-03/WEB-Education_image.jpg?itok=Uh7Ig6E0"
                      data-default="https://cdn.rit.edu/images/news/2025-03/WEB-Education_image.jpg"
                      alt="miling teacher in an orange shirt engages with a group of diverse young students around a table with small wind turbines, plants, and a spray bottle in a bright classroom"
                      src="https://www-staging.rit.edu/sites/rit.edu/files/styles/news_thumbnail/https/cdn.rit.edu/images/news/2025-03/WEB-Education_image.jpg?itok=Uh7Ig6E0"
                    />
                  </div>

                  <p
                    class="h5 card-title font-weight-bold mt-4 mb-0 fa-angle-right icon-after icon-el"
                  >Pollution Prevention Institute at RIT accepting Community
                    Grants Program project applications</p>
                </a>

                <div class="card-text mt-2">
                  <p>
                    The program, founded in 2008, is part of the NYSP2I’s
                    ongoing efforts to make the state more sustainable for
                    workers, the public, the environment, and the economy
                    through pollution prevention.
                  </p>
                </div>
              </div>
            </article>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
