:root {
    --base: 1rem;

    --display-1: clamp(4rem, 3.636vw + 3.091rem, 6rem);
    --display-2: clamp(1.0625rem, 2.159vw + 0.523rem, 2.25rem);
    --display-3: clamp(1.0625rem, 2.159vw + 0.523rem, 2.25rem);
    --display-4: clamp(1.167rem, 0.000vw + 1.167rem, 1.167rem);
    
    --h1-font-size: clamp(4rem, 0.455vw + 3.886rem, 4.25rem);
    --h1-font-weight: bold;
    --h1-line-height: 1.3;
    --h1-margin-bottom: .5em;
    --h1-color: #000;

   	--h2-font-size: clamp(2.25rem, 1.591vw + 1.852rem, 3.125rem);
    --h2-font-weight: 400;
    --h2-line-height: 1.3;
    --h2-margin-bottom: .25em;
    --h2-color: #f76902;

    --h3-font-size: clamp(1.5rem, 0.909vw + 1.273rem, 2rem);
    --h3-font-weight: bold;
    --h3-line-height: 1.3;
    --h3-margin-bottom: .25em;
    --h3-color: #757575;

    --h4-font-size: clamp(1.3rem, 0.364vw + 1.209rem, 1.5rem);
    --h4-font-weight: normal;
    --h4-line-height: 1.3;
    --h4-margin-bottom: .25em;
    --h4-color: #000;

    --h5-font-size: clamp(1.15rem, 0.182vw + 1.105rem, 1.25rem);
    --h5-font-weight: bold;
    --h5-line-height: 1.3;
    --h5-margin-bottom: .25em;
    --h5-color: #000;

    --h6-font-size: clamp(1rem, 0.273vw + 0.932rem, 1.15rem);
    --h6-font-weight: bold;
    --h6-line-height: 1.3;
    --h6-margin-bottom: .25em;
    --h6-color: #000;
}

/* Orange should only be used on black or white backgrounds */
:is(.bg-light) {
	--h2-color: #000;
}

:is(.bg-primary) {
    --h1-color: #fff;
	--h2-color: #fff;
	--h3-color: #fff;
	--h4-color: #fff;
	--h5-color: #fff;
	--h6-color: #fff;
}

:is(.bg-black) {
    --h1-color: #fff;
    --h3-color: #fff;
    --h4-color: #fff;
    --h5-color: #fff;
    --h6-color: #fff;
}

h1,
.h1 {
    font-size: var(--h1-font-size);
    font-weight: var(--h1-font-weight);
    line-height: var(--h1-line-height);
    color: var(--h1-color);
    margin-bottom: var(--h1-margin-bottom);
}

h2,
.h2 {
    font-size: var(--h2-font-size);
    font-weight: var(--h2-font-weight);
    line-height: var(--h2-line-height);
    color: var(--h2-color);
    margin-bottom: var(--h2-margin-bottom);
}

#header--middle--site-text .h2 {
	font-size: var(--display-2);
}

.new-banner-font-styles .h2 {
    font-size: clamp(2rem, 11cqi, 2.75rem);
    line-height: clamp(2.25rem, 11cqi, 3rem);
    font-weight: bold;
}

h3,
.h3 {
    font-size: var(--h3-font-size);
    font-weight: var(--h3-font-weight);
    line-height: var(--h3-line-height);
    color: var(--h3-color);
    margin-bottom: var(--h3-margin-bottom);
}

h4,
.h4 {
    font-size: var(--h4-font-size);
    font-weight: var(--h4-font-weight);
    line-height: var(--h4-line-height);
    color: var(--h4-color);
    margin-bottom: var(--h4-margin-bottom);
}

h5,
.h5 {
    font-size: var(--h5-font-size);
    font-weight: var(--h5-font-weight);
    line-height: var(--h5-line-height);
    color: var(--h5-color);
    margin-bottom: var(--h5-margin-bottom);
}

[class*="view-program-featured-profiles-carousel"] .h5,
.new-banner-font-styles > * {
	color: #FFFFFF !important;
}


h6,
.h6 {
    font-size: var(--h6-font-size);
    font-weight: var(--h6-font-weight);
    line-height: var(--h6-line-height);
    color: var(--h6-color);
    margin-bottom: var(--h6-margin-bottom);
}


p {
	line-height: 1.5;
	margin-bottom: 1rem;
}